name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build_and_archive:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Archive artifacts
      run: tar -czvf app.tar.gz app.py requirements.txt

    - name: Upload artifact for deployment
      uses: actions/upload-artifact@v4
      with:
        name: web-app
        path: app.tar.gz